* {

}


/*[data-rule$="face"]*/
 .face {
  margin: 16px;
  padding: 4px;
  
  background-color: #e7e7e7;
  width: 104px;
  height: 104px;
  object-fit: contain;
  
  box-shadow:
    inset 0 5px white, 
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7, 
    inset -5px 0 #d7d7d7;
  
  border-radius: 10%;
}

.firstface {
  composes: face;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondface {
  composes: face;
  display: flex;
  justify-content: space-between;
}

.secondface .pip:nth-of-type(2) {
  align-self: flex-end;
}

.thirdface {
  composes: face;
  display: flex;
  justify-content: space-between;
}

.thirdface .pip:nth-of-type(3) {
  justify-content: flex-end;
}

.thirdface .pip:nth-of-type(2) {
  justify-content: center;
}

.fourthface {
  composes: face;
  display: flex;
  justify-content: space-between;
}

.fourthface .column, .sixthface .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifthface {
  composes: face;
  display: flex;
  justify-content: space-between;
}

.fifthface .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifthface .column:nth-of-type(2) {
  justify-content: center;
}

.sixthface {
  composes: face;
  display: flex;
  justify-content: space-between;
}

.pip {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;

  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

